body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li{
	position: relative;
	list-style: none;
}

button{
	min-width: 40px;
	padding: 2px 6px;
	background: red;
	border: 1px solid red;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

input,textarea,select{
	border: 1px solid gray;
	border-radius: 8px;
	padding: 4px 8px;
	font-family: arial,"微软雅黑";
}

button.edit{
	background: darkblue;
	border-color: darkblue;
	margin-right: 14px;
}

button.submit{
	border-color: green;
	background: green;
	padding: 8px 10px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
}

.voter{
	position: absolute;
	top: 0px;
	left: -22px;
	text-align: center;
	font-size: 12px;
}

.voter div{
	cursor: pointer;
}

.voter .up{
	width:0;
    height:0;
    border-width:0 6px 10px;
    border-style:solid;
    border-color:transparent transparent #eb9797;/*透明 透明  灰*/
    position:relative;
    margin-bottom: 10px;
}

.voter .down{
	width:0;
    height:0;
    border-width:10px 6px 0;
    border-style:solid;
    border-color:#eb9797 transparent transparent;/*灰 透明 透明 */
    position:relative;
}

.post_list .voter{
	top: 50%;
	transform: translateY(-50%);
	left: -14px;
}

.no_comment ,.no_post{
	color: #aaa;
	font-size: 14px;
}

/* Category */
.Category{
	overflow: hidden;
	margin: 20px 10px 0;
}

.Category li{
	cursor: pointer;
	float: left;
	margin-right: 30px;
	font-size: 18px;
	font-weight: bold;
}

.Category a{
	text-decoration: none;
	color: #aaa;
}


/* List */
.post_list li{
	padding: 10px;
}

.post_list li span{
	margin-right: 15px;
}

.post_list li a{
	text-decoration: none;
}

.post_list li .post_title{
	color: black;
	font-size: 22px;
	font-weight: bold;
}

.post_list li .post_author{
	color: #4f62ce;
}
.post_list li .post_voteScore{
	color: red;
	font-weight: bold;
}

.post_list li .post_commentCount{
	color: green;
	font-weight: bold;
}

.post_list li .post_time{
	color: #999;
}

.add_post{
	margin-left: 50px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: green;
	border-radius: 10px;
}

/* Detail */

.post_detail{
	padding: 30px;
}

.post_detail>div.content{
	position: relative;
}

.post_detail>div.content .voter{
	top: 2px;
    left: -20px;
}

.post_detail p.content{
	padding: 20px;
	background: #dcdcfd;
	border-radius: 10px;
}

.post_detail span{
	margin-right: 10px;
	font-size: 10px;
}
.post_detail .vote{
	font-size: 15px;
	margin-right: 5px;
	border: 2px solid black;
	border-radius: 10px;
	display: inline-block;
    padding: 5px;
	text-align: center;
	color: red;
	border-color: red;
}

.post_detail .vote.nega{
	color: green;
	border-color: green;
}

.post_detail .title{
	font-size: 18px;
	font-weight: bold;
}

.post_detail .author{
	color: #4f62ce;
	font-weight: bold;
}

.post_detail .time{
	color: #999;
}

/* Create  Edit  UpgadeComment */
.createPost, .editPost, .update_comment{
	padding: 20px;
	width: 50%;
	margin: 10px auto;
}

/* Comment */
.commentArea{
    background: #eee;
    margin-top: 18px;
    padding: 20px;
    border-radius: 10px;
}

.commentArea h4{
	margin-top: 0;
}

.commentList li{
	margin-bottom: 30px;
}

.commentList .score{
	border-radius: 10px;
	display: inline-block;
    padding: 5px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	background: red;
}

.commentList .score.nega{
	background: green;
}


/* Modal */
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

/* sorter */
.sorter{
	/*position: relative;
    left: 50px;
    top: 15px;*/
    margin: 24px 0 -4px 50px;
    user-select: none;
}

.sorter span{
	margin-right: 20px;
	color: #fff;
}

.sorter .note{
	background: red;
	font-size: 10px;
	padding: 2px 4px;
	border-radius: 4px;
}

.sorter .sortBy{
	padding: 2px 6px;
	border-radius: 8px;
	background: gray;
	text-align: center;
	cursor: pointer;
}

.sorter .active{
	background: #4f62ce;
}